<!DOCTYPE HTML>
<html lang="en">

<head>
    <link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
    <title>Convertion by Whisper</title>
</head>

<body>
    <div class="heading">
        <h1>Silent Guide</h1>
        <h2>Create Base User Guides from Video</h2>
        <p>This web app makes use of <a href="https://openai.com/blog/whisper/">Whisper</a> to create a tanscription of a video. Then it uses <a href="https://pypi.org/project/opencv-python/">OpenCV</a> to to take screenshots at the beginning of each spoken line. The output is saved to a docx.</p>
        <p>The goal of this project is to give users a baseline for creating user guides if they have a recorded knowledge sharing session</p>
    </div>
    <form  class=form action="/" enctype="multipart/form-data" method="post">
        <div class="flex-column">
            <div class="flex">
                <label for="recorder">Choose an .MP4 to Upload: </label>
                <input type="file" accept="audio/*" capture id="recorder" name="file" required name="recorder"><br>
            </div>

            <div class="flex">
                <label for="model_type">Choose a Whisper model which you want to use: </label>
                <select id="model_type" name="model_type">
                    <option value="tiny">tiny</option>
                    <option value="base">base</option>
                    <option value="small">small</option>
                    <option value="medium">medium</option>
                    <option value="large">large</option>
                </select>
                <p class="note">Smaller the whisper models provide quicker output with lower quality</p>
            </div>
            <div class="flex">
                <audio id="player" controls></audio><br>

                <script>
                    const recorder = document.getElementById('recorder');
                    const player = document.getElementById('player');

                    recorder.addEventListener('change', function (e) {
                        const file = e.target.files[0];
                        const url = URL.createObjectURL(file);
                        player.src = url;
                    });
                </script>
            </div>
        </div>
        
        <div class="flex-row">
            <input class="button flex" type="submit" id="submit" value="Convert to Guide">
            <div class="button flex-column {% if disabled %} disabled {% endif %} flex">
                <a id="download" class="flex-column" {% if result %} href="{{ url_for('static', path='/output.docx') }}" {% endif %}><p class="flex">Download Guide</p></a>
            </div>
        </div>
    </form>
    <footer class="footer" >
          <p class="footer-description">Made with ❤️ by <a href="https://github.com/carly-kins">Carly</a></p>
          <p class="footer-description">Thanks to Github user <a href="https://github.com/Kabanosk/website_for_whisper">Kabanosk</a> for the baseline app setup!</p>
      </footer>
</body>

</html>